{% extends 'base.html' %}
{% load static %}
{% block extra_links %}
<style media="screen">


</style>
{% endblock %}


{% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Checkout</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Checkout</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
           <strong>{{ message }}</strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         {% endfor %}
        {% endif %}
        <!-- Start Checkout Area -->
        <section class="wn__checkout__area section-padding--lg bg__white">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-6 col-12">
        				<div class="customer_details">
        					<h3>Billing details</h3>
									<form action="." method="POST">
										{% csrf_token %}

	        					<div class="customar__field">
	        						<div class="margin_between">
		        						<div class="input_box space_between">
		        							<label>First name <span>*</span></label>
		        							<input type="text" name='first_name'>
		        						</div>
		        						<div class="input_box space_between">
		        							<label>last name <span>*</span></label>
		        							<input type="text" name='last_name'>
		        						</div>
	        						</div>
	        						<div class="input_box">
        							<label>Country<span>*</span></label>
        							{{form.billing_country}}
	        						</div>
	        						<div class="input_box">
	        							<label>Address <span>*</span></label>
	        							<input type="text" placeholder="Street address" name='address'>
	        						</div>
									<div class="input_box">
										<label>Postcode / ZIP <span>*</span></label>
										<input type="text" name='zip_code'>
									</div>
									<div class="input_box">
										<div class="input_box ">
											<label>Phone <span>*</span></label>
											<input type="text" name='phone_num'>
										</div>

									</div>
	        					</div>

	        				</div>
	        				<div class="customer_details mt--20">
                    <div class="defualt">
                      <input name="set_billing_address" type="checkbox">
                      <span>set default billing address?</span>
                    </div>

                    {% if default_billing_address %}
	        					<div class="defualt">
		        					<input name="default_billing_address" type="checkbox">
		        					<span>use default billing address? ({{default_billing_address.address|truncatechars:15}})</span>
	        					</div>
                    {% endif %}

										<div class="differt__address">
		        					<input name="ship_diffrent_address"  type="checkbox">
		        					<span>Ship to a different address ?</span>
	        					</div>
	        					<div class="customar__field differt__form mt--40">

                      <div class="margin_between">
		        						<div class="input_box space_between">
		        							<label>First name <span>*</span></label>
		        							<input type="text" name='first_name_s'>
		        						</div>
		        						<div class="input_box space_between">
		        							<label>last name <span>*</span></label>
		        							<input type="text" name='last_name_s'>
		        						</div>
	        						</div>

	        						<div class="input_box">
	        						<label>Country<span>*</span></label>
	        							{{form.shipping_country}}
	        						</div>
	        						<div class="input_box">
	        							<label>Address <span>*</span></label>
	        							<input type="text" placeholder="Street address" name='shipping_address'>
	        						</div>

									<div class="input_box">
										<label>Postcode / ZIP <span>*</span></label>
										<input type="text" name='shipping_zip_code'>
									</div>
									<div class="input_box">
										<div class="input_box">
											<label>Phone <span>*</span></label>
											<input type="text" name='shipping_phone'>
										</div>

									</div>
                    <div class="defualt">
                      <input name="set_shipping_address" type="checkbox">
                      <span>sit default shipping address?</span>
                    </div>
                    {% if default_shipping_address %}
											<div class="defualt">
												<input name="default_shipping_address" type="checkbox">
												<span>use default shipping billing? ({{default_shipping_address.address|truncatechars:15}})</span>
											</div>
                      {% endif %}
	        				</div>
	        			</div>
								<hr>
								<br>
								<input type="submit" class="btn btn-lg btn-primary" value="done">
							</form>
						</div>
        			<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
        				<div class="wn__order__box">
        					<h3 class="onder__title">Your order</h3>
        					<ul class="order__total">
        						<li>Product</li>
        						<li>Total</li>
        					</ul>
        					<ul class="order_product">
                    {% for book in order.products.all %}
        						<li>{{book.product.title}} × {{book.quantity}}<span>${{ book.total_item_price }}</span></li>

                    {% endfor %}

        					</ul>
        					<ul class="shipping__method">
        						<li>Cart Subtotal <span>${{ order.total_order_price }}</span></li>
        					</ul>
        					<ul class="total__amount">
        						<li>Order Total <span>${{ order.total_order_price }}</span></li>
        					</ul>
        				</div>
					    <div id="accordion" class="checkout_accordion mt--30" role="tablist">
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingOne">
						          	<a class="checkout__title" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						                <span>Direct Bank Transfer</span>
						          	</a>
						        </div>
						        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
					            	<div class="payment-body">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingTwo">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							            <span>Cheque Payment</span>
						          	</a>
						        </div>
						        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
					          		<div class="payment-body">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingThree">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							            <span>Cash on Delivery</span>
						          	</a>
						        </div>
						        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
					          		<div class="payment-body">Pay with cash upon delivery.</div>
						        </div>
						    </div>
					    </div>

        			</div>
        		</div>
        	</div>
        </section>
{% endblock %}
